* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
:root {
  --background-color: #1a1f2f;
  /* --darkmode-color: #0692e7; */
  --button-color: #2e3344;
  --buttongd-color: #818795;
  --box_color: #535968;
  --point-color: #3b5ebd;
  --light-buttongd-color: #899fc8;
  --light-background-color: #f2f4f7;
  --light-button-color: #0071e3;
  --light-font-color: rgba(0, 0, 0, 0.5);
  --font-color: #d9d9d9;
  --softgray-color: #a4a4a4;
}
html,
body {
  position: relative;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 나눔스퀘어, "NanumSquare", sans-serif;
  color: var(--textColor);
}
.header {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
}
.header_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 35px;
  border-bottom: 1px solid #d9d9d9;
  align-items: center;
}
.header_border {
  border: none;
}
.header_content {
  font-size: 42px;
  color: var(--font-color);
}
.header_container img {
  width: 180px;
}
.header_container .header_content img {
  width: 50px;
}
.container_pc_wrapper {
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_pc {
  display: flex;
  flex-direction: column;
}
.product_container_kiosk {
  height: 90%;
  display: flex;
  flex-direction: column;
  background-color: var(--button-color);
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 120px 120px 0px 0px;
  animation-name: up;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
}
@keyframes up {
  from {
    transform: translateY(1650px);
  }
  to {
    transform: none;
  }
}
.how {
  flex-direction: column;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.how_content {
  font-size: 48px;
  color: var(--font-color);
}
.how_img {
  margin-top: 45px;
}
.how_img img {
  width: 100px;
}
.main_top {
  color: var(--font-color);
  text-align: center;
}
.main_top img {
  width: 480px;
  opacity: 0.8;
}
.main_top_contents {
  padding: 100px 0;
}
.main_phone_contents {
  padding-top: 100px;
}
.pagetitle,
.box_title {
  font-size: 48px;
}
.main_page {
  display: flex;
  justify-content: center;
}
.pagetitle,
.box_title,
.box_description {
  font-weight: 600;
}
.description,
.box_description {
  padding-top: 20px;
  font-size: 36px;
}
.main_btn img {
  opacity: 0.8;
  margin-bottom: 50px;
}
.member,
.nonmember {
  box-sizing: border-box;
  /* border: 5px solid #6f7982; */
  border-radius: 30px;
  width: 440px;
  height: 600px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  box-shadow: 0px 0px 70px 0px rgb(0 0 0 / 5%);
}
.member a,
.nonmember a {
  width: 440px;
  height: 600px;
}
.member:active,
.nonmember:active,
.key:active,
.method_content a:focus,
.total_payment a:active,
.bottom:active {
  background-color: var(--point-color);
}
.member {
  margin-right: 10px;
}
.nonmember {
  margin-left: 10px;
}
.inner_member img,
.inner_nonmember img {
  width: 120px;
  color: var(--button-color);
}
.inner_member,
.inner_nonmember {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.bottom {
  box-sizing: border-box;
  background-color: var(--button-color);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  padding: 55px;
  box-shadow: 0px 0px 80px 0px rgb(0 0 0 / 10%);
}
.bottom .box_title {
  padding-top: 10px;
}
.member,
.nonmember,
.box_title,
.box_description {
  text-align: center;
  color: var(--font-color);
}
.number_page {
  display: flex;
}
.number_box {
  width: 400px;
  height: 105px;
  border-radius: 15px;
  margin-right: 40px;
  border: 3px solid var(--button-color);
}
.number_box_content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.certificdation_number_box_content input {
  padding: 35px 15px;
  width: 200px;
}
.timer {
  font-size: 25px;
  color: yellow;
  padding: 35px 15px;
}
.number_box_content input {
  padding: 35px 17.5px;
  font-size: 30px;
  color: var(--font-color);
  background: none;
  border: none;
  border-radius: 15px;
}
.number_box_content input:focus-visible,
.guide_content .care:focus-visible {
  outline: none;
}
.phone {
  padding: 150px 0;
  display: flex;
  justify-content: center;
}
.phone img {
  opacity: 50%;
  width: 350px;
}
.key_box {
  display: flex;
}
.key {
  margin: 0 10px 10px 0;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 3px solid var(--button-color);
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  color: var(--font-color);
}
.footer {
  display: flex;
  position: absolute;
  bottom: 0;
}
.issue_footer {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.issue_footer button {
  font-size: 42px;
  border-radius: 75px;
  padding: 20px 35px;
  background-color: var(--buttongd-color);
  border: 2px solid var(--buttongd-color);
}
.issue_footer button:active {
  background-color: var(--point-color);
  color: var(--font-color);
  border: 2px solid var(--point-color);
}
.produt_cost .footer_container {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer_content {
  width: 100%;
  font-weight: 700;
  background-color: var(--buttongd-color);
  font-size: 36px;
  display: flex;
  color: var(--light-background-color);
  justify-content: center;
  padding: 40px;
}
.prev {
  width: 380px;
  font-weight: 700;
  background-color: var(--buttongd-color);
}
.next {
  width: 700px;
  font-weight: 700;
  background-color: var(--point-color);
}
.produt_cost {
  width: unset;
}
.prev a,
.next a {
  font-size: 45px;
  display: flex;
  color: var(--light-background-color);
  justify-content: center;
  padding: 40px 0;
}
.cost a {
  justify-content: unset;
}
.produt_footer {
  width: 1080px;
  display: unset;
}
.produt_cost a {
  padding: 40px;
  justify-content: space-between;
}
.produt_cost .price {
  padding: 0;
}
.pop_content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background-color: var(--point-color);
  border-radius: 20px;
  text-align: center;
}
.modal {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-attachment: fixed;
  background: rgba(0, 0, 0, 0.5);
}
.pop_title {
  font-size: 40px;
  padding-top: 100px;
  color: var(--font-color);
  line-height: 60px;
}
.pop_inner_title {
  font-size: 36px;
  color: var(--font-color);
  padding-top: 50px;
}
.pop_btns {
  padding-bottom: 65px;
}
.pop_btns button {
  font-size: 36px;
  color: var(--font-color);
  border-radius: 8px;
  padding: 10px 15px;
  margin-top: 100px;
  border: 3px solid var(--font-color);
  background-color: unset;
}
.pop_btns button:active {
  background-color: var(--light-buttongd-color);
  color: var(--light-background-color);
}

/* .product_detail_container {
  margin-bottom: 685px;
} */
.main_product_contents {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 30px;
}
.product_detail_contents {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}
.product_detail_more {
  margin-top: 280px;
}
.product {
  width: 380px;
  height: 550px;
  background-color: var(--box_color);
  border-radius: 30px;
  box-shadow: 0px 0px 80px 0px rgb(0 0 0 / 10%);
  font-size: 45px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--font-color);
}
.product img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 70px;
}
.product:active {
  opacity: 80%;
}
.price {
  display: flex;
  padding: 0 40px;
  align-items: center;
}
.price_text {
  color: var(--font-color);
  font-size: 32px;
}
.price_won {
  font-size: 28px;
  font-weight: 800;
  color: yellow;
  margin-left: 15px;
}
.payment {
  width: 300px;
  justify-content: end;
  display: flex;
}
.more {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  align-items: center;
}
.more_number {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--font-color);
}
.circle:first-child {
  background-color: var(--font-color);
}
.prev_button a,
.next_button a {
  font-size: 80px;
  color: var(--font-color);
}

.second_contents {
  font-size: 48px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.third_contents {
  font-size: 36px;
  margin: 60px 0;
}
.second_content,
.third_content {
  display: flex;
  justify-content: center;
}
.second_content a,
.third_content a {
  color: var(--font-color);
}
.second_product {
  width: 290px;
}
.third_product {
  width: 210px;
}
.second_product a:active {
  background-color: var(--buttongd-color);
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 30%);
  padding: 30px 80px;
  border-radius: 60px;
}
.third_product a:active {
  background-color: var(--buttongd-color);
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 30%);
  padding: 20px 40px;
  border-radius: 60px;
}
.product_detail {
  width: 280px;
  height: 280px;
  border-radius: 15px;
}
.product_detail img {
  width: 160px;
  height: 160px;
  margin-bottom: 15px;
}
.product_detail .img_content {
  font-size: 36px;
}
.img_price {
  font-size: 26px;
  padding-top: 5px;
  color: yellow;
}
.first_cost {
  width: 1080px;
}
.swiper {
  width: 100%;
  padding: 15px 0;
}
.swiper-slide {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.mobile_number_box {
  margin: 100px 0;
  display: flex;
  justify-content: center;
}
.mobil_number {
  background-color: var(--box_color);
  padding: 45px 280px;
  text-align: center;
  border-radius: 45px;
  font-size: 48px;
  color: var(--font-color);
}
.mobile_content,
.paper_content,
.guide_content {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  color: var(--font-color);
}
.guide_titile {
  font-size: 62px;
  font-weight: 600;
  line-height: 95px;
  margin-top: 75px;
}
.guide_content,
.paper_content {
  line-height: 75px;
}
.paper_content {
  margin-top: 225px;
}
.mobile_icon,
.paper_icon {
  text-align: center;
  margin: 240px 0;
}
.mobile_icon img,
.paper_icon img,
.guide_icon img {
  width: 400px;
}
.guide_icon {
  text-align: center;
  margin: 240px 0;
}
.mobile_icon img,
.paper_icon img,
.barcode img {
  animation: floating 1s infinite;
  animation-timing-function: linear;
}
@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}
.close {
  display: flex;
  margin: 50px 80px 0px 80px;
  justify-content: flex-end;
}
.close a {
  font-size: 50px;
  color: var(--font-color);
}
.method_contents {
  margin: 0 80px;
  margin-bottom: 310px;
}
.payment_title {
  font-size: 48px;
  color: var(--font-color);
}
.method_content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.method_content a {
  background-color: var(--box_color);
  border-radius: 40px;
  width: 280px;
  height: 280px;
}
.method {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.method img {
  width: 110px;
}
.method_name {
  font-size: 36px;
  color: var(--font-color);
  margin-top: 35px;
  font-weight: 700;
}
.payment_contents_top {
  background-color: var(--buttongd-color);
  margin: 0 80px;
  border-radius: 40px;
  padding: 50px 30px;
  height: 215px;
}
.payment_contents_top ul li {
  font-size: 35px;
  color: var(--light-font-color);
  width: 100%;
}
.payment_contents_top .top_ul {
  display: flex;
  text-align: center;
  padding-bottom: 30px;
}
.payment_contents_top .top_ul li {
  font-weight: 600;
}
.payment_contents_top .scroll {
  overflow-y: overlay;
  height: 160px;
}
.payment_contents_top .scroll::-webkit-scrollbar {
  width: 10px;
}
.payment_contents_top .scroll::-webkit-scrollbar-thumb {
  background-color: var(--button-color);
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.payment_contents_top .scroll::-webkit-scrollbar-track {
  background-color: var(--softgray-color);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px var(--softgray-color);
}
.payment_contents_top .scroll .bottom_ul {
  display: flex;
  text-align: center;
  padding-top: 20px;
}
.method_explain hr {
  margin: 50px 80px;
}
.payment_contents_bottom {
  margin: 0 80px;
}
.payment_contents_bottom ul {
  display: flex;
  justify-content: space-between;
}
.payment_contents_bottom ul li {
  font-size: 35px;
  color: var(--softgray-color);
  padding-bottom: 20px;
}
.payment_contents_bottom .total li {
  font-size: 50px;
  color: var(--font-color);
  padding-top: 30px;
}
.payment_footer {
  display: flex;
  z-index: 15;
  justify-content: center;
  padding-top: 60px;
}
.total_payment {
  border-radius: 70px;
  background-color: var(--box_color);
}
.total_payment a {
  border-radius: 70px;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 50;
  stroke-miterlimit: 10;
  stroke: #3b5ebd;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #3b5ebd;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
.payment_pop_content {
  background-color: #f6f6f6;
  width: 890px;
  height: 1450px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 35px;
  text-align: center;
}
.payment_pop_content .close a {
  color: var(--background-color);
}
.payment_pop_content .guide_icon {
  margin: 160px 0;
}
.payment_pop_content .guide_titile,
.payment_pop_content .guide_content {
  font-size: 45px;
  line-height: 70px;
  color: var(--background-color);
}
.guide_explain {
  font-size: 60px;
}
.middle_explain,
.payment_ing {
  margin: 50px 0;
}
.care {
  font-size: 35px;
  color: tomato;
}
.change {
  display: none;
}
#Timer,
#Timertwo,
#Timerthree {
  border: none;
  width: 40px;
  background-color: unset;
}
/*light mode*/
.container,
.container .product_container_kiosk,
.container .product,
.container .second_product a:active,
.container .third_product a:active,
.container .method_content a,
.container .issue_footer button,
.container .pop_btns button:active {
  background-color: var(--light-background-color);
}
.container .total_payment a:active {
  background-color: unset;
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 15%);
}
.container .main_top,
.container .member,
.container .nonmember,
.container .box_title,
.container .box_description,
.container .key,
.container .prev a,
.container .next a,
.container .payment .container .number_box_content,
.container .number_box_content input,
.container .footer_content,
.container .prev_button a,
.container .next_button a,
.container .circle,
.container .header_content,
.container .product,
.container .second_content a,
.container .third_content a,
.container .mobile_content,
.container .paper_content,
.container .method_name,
.container .payment_contents_bottom ul li,
.container .payment_contents_top ul li {
  color: var(--light-font-color);
}
.container .prev a,
.container .next a,
.container .bottom .box_title,
.container .main_btn:active .ex div,
.container .total_payment a {
  color: var(--light-background-color);
}
.container .main_top img,
.container .main_page img {
  filter: invert(90%);
}
.container .header_container img,
.container .phone img,
.container .swiper-button-next,
.container .swiper-button-prev,
.container .swiper-pagination-bullet,
.container .mobile_icon img,
.container .paper_icon img,
.container .method img {
  filter: invert(50%);
}
.product_wrapper .header_container img {
  filter: unset;
}
.container .member:active,
.container .nonmember:active,
.container .bottom,
.container .prev,
.container .key:active,
.container .mobil_number,
.container .pop_content,
.container .next,
.product_wrapper,
.container .method_content a:focus,
.container .issue_footer button:active {
  background-color: var(--light-button-color);
}
.container .prev {
  opacity: 50%;
}
.container .main_btn:active img,
.product_wrapper .header_container img,
.container .method_content a:focus .method img {
  filter: none;
}
.container .member,
.container .nonmember {
  border: none;
  background-color: #fafbfc;
}
.container .key:active {
  border-color: var(--light-button-color);
}
.container .timer,
.container .img_price {
  color: tomato;
}
.container .footer_content {
  background-color: #fafbfc;
}
.container .product:active {
  opacity: 80%;
}
.container .issue_footer button {
  border: none;
}
.container .second_product a:active,
.container .third_product a:active,
.container .product,
.container .issue_footer button {
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 8%);
}
.container .close a,
.container .payment_title,
.container .payment_contents_bottom .total li,
.container .pop_btns button:active {
  color: var(--background-color);
}
.container .method_content a,
.container .issue_footer button:active {
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 10%);
}
.container .payment_contents_top {
  background-color: var(--font-color);
}
.container .method_content a:focus .method_name {
  color: var(--font-color);
}
.container .checkmark__circle {
  stroke: #7ac142;
}
.container .checkmark {
  box-shadow: inset 0px 0px 0px #7ac142;
}
.container .payment_contents_top .scroll::-webkit-scrollbar {
  width: 10px;
}
.container .payment_contents_top .scroll::-webkit-scrollbar-thumb {
  background-color: var(--buttongd-color);
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
