* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
:root {
  --background-color: #435560;
  /* --darkmode-color: #0692e7; */
  --button-color: #7c8894;
  --buttongd-color: #96a0a9;
  --light-buttongd-color: #899fc8;
  --light-background-color: #f2f4f7;
  --light-button-color: #4876ef;
  --light-font-color: rgba(0, 0, 0, 0.5);
  --font-color: #d9d9d9;
  --softgray-color: #a4a4a4;
}
body {
  margin: 0;
  font-family: 나눔스퀘어, "NanumSquare", sans-serif;
  color: var(--textColor);
}
header {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
}
.header_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 35px;
  border-bottom: 1px solid #d9d9d9;
  align-items: center;
}
.header_content {
  font-size: 42px;
  color: var(--font-color);
}
.header_container img {
  width: 180px;
}
.header_container .header_content img {
  width: 70px;
}
.container_pc_wrapper {
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_pc {
  display: flex;
  flex-direction: column;
}
.main_top {
  color: var(--font-color);
  text-align: center;
}
.main_top img {
  width: 480px;
  opacity: 0.8;
}
.main_top_contents {
  padding: 100px 0;
}
.pagetitle,
.box_title {
  font-size: 48px;
}
.main_page {
  display: flex;
  justify-content: center;
}
.pagetitle,
.box_title,
.box_description {
  font-weight: 600;
}
.description,
.box_description {
  padding-top: 20px;
  font-size: 36px;
}
.main_btn img {
  opacity: 0.8;
  margin-bottom: 50px;
}
.member,
.nonmember {
  box-sizing: border-box;
  /* border: 5px solid #6f7982; */
  border-radius: 30px;
  width: 440px;
  height: 600px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  box-shadow: 0px 0px 80px 0px rgb(0 0 0 / 10%);
}
.member a,
.nonmember a {
  width: 440px;
  height: 600px;
}
.member:active,
.nonmember:active {
  background-color: #828a93;
}
.member {
  margin-right: 10px;
}
.nonmember {
  margin-left: 10px;
}
.inner_member img,
.inner_nonmember img {
  width: 120px;
  color: var(--button-color);
}
.inner_member,
.inner_nonmember {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.bottom {
  box-sizing: border-box;
  background-color: var(--button-color);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  padding: 55px;
  box-shadow: 0px 0px 80px 0px rgb(0 0 0 / 10%);
}
.bottom:active {
  /* opacity: 80%; */
}
/* .bottom img {
    width: 70px;
    padding-right: 35px;
  } */
.bottom .box_title {
  padding-top: 10px;
}
.member,
.nonmember,
.box_title,
.box_description {
  text-align: center;
  color: var(--font-color);
}
.number_page {
  display: flex;
}
.number_box {
  width: 400px;
  height: 105px;
  border-radius: 15px;
  margin-right: 40px;
  border: 3px solid var(--button-color);
}
.number_box_content {
  display: flex;
  justify-content: space-between;
}
.certificdation_number_box_content input {
  padding: 35px 15px;
  width: 200px;
}
.timer {
  font-size: 25px;
  color: yellow;
  padding: 35px 15px;
}
.number_box_content input {
  padding: 35px 17.5px;
  font-size: 30px;
  color: var(--font-color);
  background: none;
  border: none;
  border-radius: 15px;
}
.phone {
  padding: 100px 0;
  display: flex;
  justify-content: center;
}
.phone img {
  opacity: 50%;
  width: 350px;
}
.ketpad {
}
.key_box {
  display: flex;
}
.key {
  margin: 0 10px 10px 0;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 3px solid var(--button-color);
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  color: var(--font-color);
}
.key:active {
  background-color: var(--buttongd-color);
}
.footer {
  display: flex;
  position: absolute;
  bottom: 0;
}
.footer_container {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer_content {
  width: 100%;
  font-weight: 700;
  background-color: var(--buttongd-color);
  font-size: 36px;
  display: flex;
  color: var(--light-background-color);
  justify-content: center;
  padding: 40px;
}
.prev {
  width: 400px;
  font-weight: 700;
  background-color: var(--buttongd-color);
}
.next {
  width: 680px;
  font-weight: 700;
  background-color: var(--button-color);
}
.prev a,
.next a {
  font-size: 45px;
  display: flex;
  color: var(--light-background-color);
  justify-content: center;
  padding: 40px 0;
}
.pop_content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background-color: var(--darkmode-color);
  border-radius: 20px;
  text-align: center;
}
.pop_title {
  font-size: 40px;
  padding-top: 100px;
  color: var(--font-color);
}
.pop_inner_title {
  font-size: 36px;
  color: var(--font-color);
  padding-top: 50px;
}
.pop_btns {
  padding-bottom: 65px;
}
.pop_btns button {
  font-size: 36px;
  color: var(--font-color);
  border-radius: 8px;
  padding: 10px 15px;
  margin-top: 100px;
  border: 3px solid var(--font-color);
  background-color: unset;
}
.pop_btns button:active {
  background-color: var(--font-color);
  color: var(--light-font-color);
}
.main_product {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
}
.product {
  width: 450px;
  height: 600px;
  background-color: var(--button-color);
  border-radius: 35px;
  box-shadow: 0px 0px 80px 0px rgb(0 0 0 / 10%);
  font-size: 45px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--font-color);
}
.product img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 70px;
}
.product:active {
  background-color: var(--buttongd-color);
}

/*light mode*/
.container {
  background-color: var(--light-background-color);
}
.container .main_top,
.container .member,
.container .nonmember,
.container .box_title,
.container .box_description,
.container .key,
.container .prev a,
.container .next a,
.container .number_box_content,
.container .number_box_content input,
.container .pop_content .pop_title,
.container .pop_content .pop_inner_title,
.container .pop_content .pop_btns button,
.container .footer_content {
  color: var(--light-font-color);
}
.container .prev a,
.container .next a {
  color: var(--light-background-color);
}
.container .bottom .box_title {
  color: var(--light-background-color);
}
.container .main_top img,
.container .main_page img {
  filter: invert(90%);
}
.container .header_container img {
  filter: invert(50%);
}
.container .member:active,
.container .nonmember:active,
.container .bottom,
.container .prev,
.container .key:active {
  background-color: var(--light-button-color);
}
.container .prev {
  opacity: 50%;
}
.container .main_btn:active .ex div {
  color: var(--light-background-color);
}
.container .main_btn:active img {
  filter: invert(20%);
}
.container .member,
.container .nonmember {
  border: none;
  background-color: #fafbfc;
}
.container .phone img {
  filter: invert(50%);
}
.container .key:active {
  border-color: var(--light-button-color);
}
.container .pop_content,
.container .next {
  background-color: var(--light-button-color);
}
.container .pop_content .pop_btns button {
  border-color: var(--light-font-color);
}
.container .timer {
  color: red;
}
.container .footer_content {
  background-color: #fafbfc;
}
.container .header_content {
  color: var(--light-font-color);
}
